<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script>
  // var formData = new FormData()
  // formData.append('usernamePithia','it144305');
  // formData.append('passwordPithia','***REMOVED***');
  //
  // $.ajax({
  //   url: '/reg/pauth',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('mail','alexisomg4@hotmail.gr');
  // formData.append('token','e672dc4c0009712b7569c582f88bf6f91a309bd1');
  //
  // $.ajax({
  //   url: '/reg/mtoken',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  $.get('/reg/info/e672dc4c0009712b7569c582f88bf6f91a309bd1', function (data) {
    var formData = new FormData()
    formData.append('password','***REMOVED***');

    $.ajax({
      url: '/reg/updatepass/e672dc4c0009712b7569c582f88bf6f91a309bd1',
      type: 'POST',
      contentType: false,
      processData: false,
      data: formData,
      success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
        console.log('yes')

      },
      error: function (data) {
        console.log('no')
      }
    })
    console.log(data)
  })


  // var formData = new FormData()
  // formData.append('newMail','apavlidi@it.teithe.gr');
  //
  // $.ajax({
  //   url: '/reg/updatemail/e672dc4c0009712b7569c582f88bf6f91a309bd1',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })



</script>

</html>