<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script>
  // var formData = new FormData()
  // formData.append('usernamePithia','it144305');
  // formData.append('passwordPithia','PhP^damon');
  //
  // $.ajax({
  //   url: '/reg/pauth',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('mail','alexisomg@hotmail.gr');
  // formData.append('token','12345');
  //
  // $.ajax({
  //   url: '/reg/mtoken',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // $.get('/reg/info/4742d26853f431cad0e7934a585ee080d1de0dd3', function (data) {
  //   console.log(data)
  // })


  // var formData = new FormData()
  // formData.append('newMail','alexisomg4@hotmail.gr');
  //
  // $.ajax({
  //   url: '/reg/updatemail/4742d26853f431cad0e7934a585ee080d1de0dd3',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('password','***REMOVED***5');
  //
  // $.ajax({
  //   url: '/reg/updatepass/4742d26853f431cad0e7934a585ee080d1de0dd3',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

</script>

</html>