<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titlse</title>
</head>
<body>

<form role="form" id="newAnnouncmentForm">
    <div class="modal-body">
        <!-- text input -->
        <div class="form-group">
            <label>Τίτλος ανακοίνωσης</label>
            <input type="text" class="form-control" maxlength="80" id="newAnnouncementTitle"
                   required="true"
                   placeholder="Τίτλος">
        </div>

        <div class="form-group" id="titleEn" style="display: none">
            <label>Τίτλος ανακοίνωσης στα αγγλικά</label>
            <input type="text" class="form-control" maxlength="80" id="newAnnouncementTitleEn"
                   placeholder="Τίτλος στα αγγλικά">
        </div>
        <br/>

        <!-- textarea -->
        <div class="form-group">
            <label>Κείμενο</label>
            <textarea class="form-control" maxlength="12000" rows="9" id="newAnnouncementText"
                      placeholder="Γράψτε την ανακοίνωση σας εδώ.."></textarea>
        </div>

        <div class="form-group" id="textEn" style="display: none;">
            <label>Κείμενο στα αγγλικά</label>
            <textarea class="form-control" maxlength="12000" rows="9" id="newAnnouncementTextEn"
                      placeholder="Γράψτε την ανακοίνωση σας στα αγγλικά εδώ.."></textarea>
        </div>

        <div class="form-group">
            <div class="animated-checkbox">
                <label>
                    <input type="checkbox" id="checkAnnouncementEn"><span
                            class="label-text">Προσθήκη στα αγγλικά</span>
                </label>
            </div>
        </div>
        <br/>

        <div class="form-group">
            <label>Υποβολή ως</label>
            <select class="form-control select2" id="newAnnouncementPublisher" style="width:100%;">
                <option value='' selected='selected'>Επιλέξτε καθηγητή</option>
            </select>
        </div>

        <!-- To select2 dn douleuei mesa se modal an to modal exei to property tabindex=-1 -->
        <div class="form-group">
            <label>Κατηγορία</label>
            <select class="form-control select2" id="newAnnouncementAbout" style="width:100%;">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Συνημμένα</label>
            <input id="upload-input" class="form-control" accept="application/msword,.doc, .docx,.ppt, .pptx,application/vnd.ms-excel, application/vnd.ms-powerpoint,
text/plain, application/pdf, image/*" type="file" name="uploads[]" multiple="multiple"><br/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" onclick="clearModalFields()"
                data-dismiss="modal">Ακυρωση
        </button>
        <button type="submit" form="newAnnouncmentForm" value="Submit" class="btn btn-primary"
                id="btnCreateAnnouncment">Προσθηκη
        </button>
    </div>
</form>

<br/>
<br/>
<hr/>
<hr/>
---ΕΠΕΞΕΡΓΑΣΙΑ---
<br/>
<br/>
<br/>


<form role="form" id="editAnnouncementForm">
    <div class="modal-body">
        <!-- text input -->
        <div class="form-group">
            <label>Τίτλος ανακοίνωσης</label>
            <input type="text" class="form-control" maxlength="80" id="editAnnouncementTitle"
                   required="true"
                   placeholder="Τίτλος">
        </div>

        <div class="form-group" id="titleEn" style="display: none">
            <label>Τίτλος ανακοίνωσης στα αγγλικά</label>
            <input type="text" class="form-control" maxlength="80" id="editAnnouncementTitleEn"
                   placeholder="Τίτλος στα αγγλικά">
        </div>
        <br/>

        <!-- textarea -->
        <div class="form-group">
            <label>Κείμενο</label>
            <textarea class="form-control" maxlength="12000" rows="9" id="editAnnouncementText"
                      placeholder="Γράψτε την ανακοίνωση σας εδώ.."></textarea>
        </div>

        <div class="form-group" id="textEn" style="display: none;">
            <label>Κείμενο στα αγγλικά</label>
            <textarea class="form-control" maxlength="12000" rows="9" id="editAnnouncementTextEn"
                      placeholder="Γράψτε την ανακοίνωση σας στα αγγλικά εδώ.."></textarea>
        </div>

        <div class="form-group">
            <div class="animated-checkbox">
                <label>
                    <input type="checkbox" id="checkAnnouncementEn"><span
                            class="label-text">Προσθήκη στα αγγλικά</span>
                </label>
            </div>
        </div>
        <br/>

        <div class="form-group">
            <label>Υποβολή ως</label>
            <select class="form-control select2" id="newAnnouncementPublisher" style="width:100%;">
                <option value='' selected='selected'>Επιλέξτε καθηγητή</option>
            </select>
        </div>

        <!-- To select2 dn douleuei mesa se modal an to modal exei to property tabindex=-1 -->
        <div class="form-group">
            <label>Κατηγορία</label>
            <select class="form-control select2" id="editAnnouncementAbout" style="width:100%;">
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Συνημμένα</label>
            <input id="upload-input2" class="form-control" accept="application/msword,.doc, .docx,.ppt, .pptx,application/vnd.ms-excel, application/vnd.ms-powerpoint,
text/plain, application/pdf, image/*" type="file" name="uploads[]2" multiple="multiple"><br/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" onclick="clearModalFields()"
                data-dismiss="modal">Ακυρωση
        </button>
        <button type="submit" form="editAnnouncementForm" value="Submit" class="btn btn-primary"
                id="btnEditAnnouncment">Επεξεργασια
        </button>
    </div>
</form>


</body>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script>
    //remove announcement
  // $.ajax({
  //   url: '/announcements/5b3e725f1ecfcb0f90598ac3',  type: 'DELETE',
  //   contentType: false,
  //   processData: false,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

    //get publicCategories
  //   $.get('/categories/public',function(categoriesPublic){
  //     console.log(categoriesPublic)
  //   })
  //   $.ajax({
  //     url: '/categories/register?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE',
  //     type: 'PUT',
  //     data: {
  //       categoriesRegistered:  JSON.stringify([]), //it needs to be stringify so it can send empty arrays as well
  //       categoriesNotRegistered: JSON.stringify(["59ab445c3eb44c2c608cb186"])
  //     }
  //   })

    $.get('/categories/isRegistered?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE', function (categories) {
        console.log(categories)
    })


      $.get('/categories?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE', function (categories) {
    let options = ''
    for (let i = 0; i < categories.length; i++) {
      options += '<option value="' + categories[i].name + '">' + categories[i].name + '</option>'
    }
    $('#newAnnouncementAbout').append(options)
    $('#editAnnouncementAbout').append(options)
  })

  $('#newAnnouncmentForm').submit(function (e) {
    e.preventDefault()
    let title = $('#newAnnouncementTitle').val()
    if (!title || title === undefined || title === null) {
      $('#newAnnouncementTitle').closest('.form-group').addClass('has-error')
    } else {
      $('#newAnnouncementTitle').closest('.form-group').removeClass('has-error')
      var formData = new FormData()
      console.log(formData)
      let files = $('#upload-input').get(0).files
      if (files.length > 0) {
        // create a FormData object which will be sent as the data payload in the
        // AJAX request

        // loop through all the selected files and add them to the formData object
        for (let i = 0; i < files.length; i++) {
          let file = files[i]

          // add the files to formData object for the data payload
          formData.append('uploads[]', file, file.name)
        }
      }
      title = decodeURIComponent(title)
      let text = $('#newAnnouncementText').val()
      let about = $('#newAnnouncementAbout').val()
      let publisher = $('#newAnnouncementPublisher').val()
      if (publisher) {
        let publisherName = $('#newAnnouncementPublisher').select2('data')[0].text
        formData.append('publisher', JSON.stringify({publisherId: publisher, publisherName: publisherName}))
      }
      formData.append('title', title)
      formData.append('text', text)
      formData.append('about', '59ab445c3eb44c2c608cb186')

      if ($('#checkAnnouncementEn').is(':checked')) {
        let titleEn = $('#newAnnouncementTitleEn').val()
        let textEn = $('#newAnnouncementTextEn').val()

        formData.append('titleEn', titleEn)
        formData.append('textEn', textEn)
      }
      console.log(formData)
      $.ajax({
        url: '/announcements?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE'
        , type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
          console.log('yes')

        },
        error: function (data) {
          console.log('no')
        }
      })
    }
  })

  $('#editAnnouncementForm').submit(function (e) {
    console.log('h')
    e.preventDefault()
    let title = $('#editAnnouncementTitle').val()
    if (!title || title === undefined || title === null) {
      $('#editAnnouncementTitle').closest('.form-group').addClass('has-error')
    } else {
      $('#editAnnouncementTitle').closest('.form-group').removeClass('has-error')
      var formData = new FormData()
      console.log(formData)
      let files = $('#upload-input2').get(0).files
      if (files.length > 0) {
        // create a FormData object which will be sent as the data payload in the
        // AJAX request

        // loop through all the selected files and add them to the formData object
        for (let i = 0; i < files.length; i++) {
          let file = files[i]

          // add the files to formData object for the data payload
          formData.append('uploads[]2', file, file.name)
        }
      }
      console.log(files)
      title = decodeURIComponent(title)
      let text = $('#editAnnouncementText').val()
      let about = $('#newAnnouncementAbout').val()
      let publisher = $('#newAnnouncementPublisher').val()
      if (publisher) {
        let publisherName = $('#newAnnouncementPublisher').select2('data')[0].text
        formData.append('publisher', JSON.stringify({publisherId: publisher, publisherName: publisherName}))
      }
      formData.append('title', title)
      formData.append('text', text)
      formData.append('about', '59ab445c3eb44c2c608cb186')

      if ($('#checkAnnouncementEn').is(':checked')) {
        let titleEn = $('#editAnnouncementTitleEn').val()
        let textEn = $('#editAnnouncementTextEn').val()

        formData.append('titleEn', titleEn)
        formData.append('textEn', textEn)
      }
      console.log(formData)
      $.ajax({
        url: '/announcements/5b3e71304337d9092cb9afb1?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE',
        type: 'put',
        data: formData,
        contentType: false,
        processData: false,
        success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
          console.log('yes')

        },
        error: function (data) {
          console.log('no')
        }
      })
    }
  })
</script>

</html>