<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script>
  // var formData = new FormData()
  // formData.append('usernamePithia','it144305');
  // formData.append('passwordPithia','PhP^damon');
  //
  // $.ajax({
  //   url: '/reg/pauth',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('mail','alexisomg4@hotmail.gr');
  // formData.append('token','dd7d935b990b1b2aae4a273c898e49bfc98794efc21fff4cf490c77dcf635f6c9f3d9ec82a1bddeaf049121835');
  //
  // $.ajax({
  //   url: '/reg/mtoken',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  $.get('/user/all?fields=id', function (data) {
    console.log(data)
  })

  //  var formData = new FormData()
  // formData.append('password','Alexis5!');
  //
  //  $.ajax({
  //    url: '/reg/updatepass/b33c3ca1ee6575ee8ce1e322a1edaab4b53f952a032222b3add45d1c1615ea30f7c904316a0fe827bef94b46c4',
  //    type: 'POST',
  //    contentType: false,
  //    processData: false,
  //    data: formData,
  //    success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //      console.log('yes')
  //
  //    },
  //    error: function (data) {
  //      console.log('no')
  //    }
  //  })

  // var formData = new FormData()
  // formData.append('newMail','apavlidi55@it.teithe.gr');
  //
  // $.ajax({
  //   url: '/reg/updatemail/b33c3ca1ee6575ee8ce1e322a1edaab4b53f952a032222b3add45d1c1615ea30f7c904316a0fe827bef94b46c4',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('oldPassword','***REMOVED***');
  // formData.append('newPassword','***REMOVED***');
  //
  // $.ajax({
  //   url: '/user/chpw?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('newMail', 'alexisomg12@hotmail.gr');
  //
  // $.ajax({
  //   url: '/user/chmail?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('mail', 'apavlidi@it.teithe.gr');
  // formData.append('username', 'it144305');
  //
  // $.ajax({
  //   url: '/user/reset',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })



  // var formData = new FormData()
  // formData.append('token', '37ce180670ccbef31b2f9552365b145401b9191635a2a1179b28d59144c3215914c8df2f3ed2a405a73ecb054f');
  // formData.append('newPassword', 'Alexis2!');
  // formData.append('newPasswordVerify', 'Alexis23!');
  //
  // $.ajax({
  //   url: '/user/reset/token',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

</script>

</html>