<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/user/vcard/it144305">vCard of id 5106</a>

<div class="form-group">
    <label class="control-label">Συνημμένα</label>
    ADD PROFILE PHOTO <input id="upload-input" class="form-control" accept="application/msword,.doc, .docx,.ppt, .pptx,application/vnd.ms-excel, application/vnd.ms-powerpoint,
text/plain, application/pdf, image/*" type="file" name="uploads[]" multiple="multiple"><br/>
    <button onclick="submit()">SUBMIT</button>
</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

<script>
  // var formData = new FormData()
  // formData.append('usernamePithia','it144305');
  // formData.append('passwordPithia','***REMOVED***');
  //
  // $.ajax({
  //   url: '/reg/pauth',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // $.get('/reg/info/a894995c674776bb1f4a8921697d2b0f29635b6a6579fd4c16b113101363a65ab5f45c6366a0a904e942bc53fd',function(data){
  //   console.log(data)
  // })

  // var formData = new FormData()
  // formData.append('newMail','alexisomg@hotmail.gr');
  //
  // $.ajax({
  //   url: '/reg/updatemail/a894995c674776bb1f4a8921697d2b0f29635b6a6579fd4c16b113101363a65ab5f45c6366a0a904e942bc53fd',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  $.get('/user?q={"displayName;lang-el":"alexis"}', function (data) {
    console.log(data)
  })
  //
  // $.get('/user/vcard/it144305',function(data){
  //   console.log(data)
  // })


  $.get('/profile?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE', function (data) {
    console.log(data)
  })

  // var formData = new FormData()
  // formData.append('password', '***REMOVED***')
  //
  //
  // $.ajax({
  //   url: '/reg/updatepass/a894995c674776bb1f4a8921697d2b0f29635b6a6579fd4c16b113101363a65ab5f45c6366a0a904e942bc53fd',
  //   type: 'post',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('newMail','apavlidi55@it.teithe.gr');
  //
  // $.ajax({
  //   url: '/reg/updatemail/b33c3ca1ee6575ee8ce1e322a1edaab4b53f952a032222b3add45d1c1615ea30f7c904316a0fe827bef94b46c4',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('oldPassword','***REMOVED***');
  // formData.append('newPassword','cU!22146');
  //
  // $.ajax({
  //   url: '/user/chpw?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('newMail', 'apavlidi@it.teithe.gr');
  //
  // $.ajax({
  //   url: '/user/chmail?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('mail', 'apavlidi@it.teithe.gr');
  // formData.append('username', 'it144305');
  //
  // $.ajax({
  //   url: '/user/reset',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  // var formData = new FormData()
  // formData.append('token', '78b4236414f0e54a6f99065fb6e88c84adce2988785f2429ca5e12a0897ec5f5cb5deea32e36d277cb5e8737fc');
  // formData.append('newPassword', 'Alexis23!');
  // formData.append('newPasswordVerify', 'Alexis23!');
  //
  // $.ajax({
  //   url: '/user/reset/token',
  //   type: 'POST',
  //   contentType: false,
  //   processData: false,
  //   data: formData,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

  function submit () {
    let displayName = 'αλεξ'
    let formData = new FormData()
    formData.append('displayName;lang-el', displayName)
    formData.append('labeledURI', 'apavlidi.me7')
    formData.append('telephoneNumber', '777')
    formData.append('secondarymail', 'apavlidi2@gmail.com7')
    formData.append('description', '777')
    formData.append('description;lang-el', 'γ777772')
    formData.append('scientificField', '77777')
    formData.append('facebook', '777')
    formData.append('twitter', '777')
    formData.append('github', '7777.com')
    formData.append('googlePlus', '888')
    formData.append('linkedIn', '7')
    formData.append('linkedIn2', '7')

    let socialMediaExtraSubmit = []
    socialMediaExtraSubmit.push({
      name: '5',
      url: '5',
    })
    formData.append('socialMediaExtra', JSON.stringify(socialMediaExtraSubmit))

    let files = $('#upload-input').get(0).files
    if (files.length > 0) {
      // create a FormData object which will be sent as the data payload in the
      // AJAX request

      // loop through all the selected files and add them to the formData object
      for (let i = 0; i < files.length; i++) {
        let file = files[i]

        // add the files to formData object for the data payload
        formData.append('profilePhoto', file, file.name)
      }
    }

    $.ajax({
      url: '/profile?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE',
      type: 'PATCH',
      data: formData,
      processData: false,
      contentType: false,
      success: function (data) {
        console.log(data)
      },
      error: function (err) {
        console.log(err)
      }
    })
  }

  //
  // $.ajax({
  //   url: '/profile/photo?access_token=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MTA2Iiwic2NvcGUiOlsiaWQiLCJjbiIsInVpZCIsImVkdVBlcnNvblNjb3BlZEFmZmlsaWF0aW9uIl0sImhhc2giOiIyMmNuOXM2bG9qZGZ0cmE5bzJkbSIsImlhdCI6MTUzMDYyODg5NiwiZXhwIjozNTMwOTI5MDE2LCJhdWQiOlsiNTlhOTlkNTk4OWVmNjQ2NTc3ODA4NzljIl19.CC-mr6gI43FXKV02KKNTJNB1C-RmrvXi4sTbURwHJiyMSgh99iTytKGKRma5VQx5t7fwDW8tblMTG0HAXxC6jZo9LDJEaso5t-v9JoaIkdi_f5ZDCfRa9XZRuC_VwuSmlx4ShMryn9gvRx9bZhGSir5Nm154yOVrqjvjrxmZZTIiMgRQU2c4s3BJ0ihkIgBm-a4LlfoVEr77MgV5Uk249HvvsHXD-6Z8_FkPLI7SA3rDkyt18Ye5qQiDZUUzGe5kBfsiUV6A89JG3wYHJHowZ3brahvHgKbqMl17GUI2Jpiq-7x2l_1U70_mGvAc79_gkGer3jJlHae-5TH7IY2pXxBvNz8PIkv9TGNxbhrlW7JowbA1G_cAFtiEmDWWhuUkFYySVO4bF9aE_lXQR79Pj8kQWesZ4z_HrApxTVBe320Q8vyhrtR9Msg9xOdmxsshB2SAp2ocjc9fme6PIIl2XY5rrEObBJUCakcQAK8J6fSJP69zJuU0hQa3g2IYyS4K5W4vPFYB1NVVOwmZ2D5POpbaDWPer7VAwuy9B8662tHb2VokdbZ6eH9pmr5b2vbZLRvngLu90rsBtlf34JYuagY2qP8vhUe9yqM7qAN9F6odr5jOq6UquK6UUhwXV_PGV33xjZRt12nz2aG8W9rTNiEkq9B6srF5pz1bALApYLE',
  //   type: 'DELETE',
  //   contentType: false,
  //   processData: false,
  //   success: function (data) { //afou bi to arxio tote vale kai tin anakinosi
  //     console.log('yes')
  //     console.log(data)
  //
  //   },
  //   error: function (data) {
  //     console.log('no')
  //   }
  // })

</script>

</html>